html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: beige;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 8vh 80vh 16vh;
    grid-template-areas: "h h"
                         "msg msg"
                         "m m"
                         "f f"
}

header {
    background: #1d1d1f;
    grid-area: h; 
    display: flex;
    justify-content: space-around;
}

header > div {
    display: flex;
    align-items: center;
}

header img + h1 {
    margin-left: 20px;
}

header h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.945);
    
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.136);

    position: relative;
    top: 3px;
}

header nav {
    display: grid;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 60px;
}

header li a {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-decoration: none;
    color: white;
}

header li a:hover {
    color: rgba(255, 255, 255, 0.693);
}

header li .contato {
    display: flex;
    align-content: center;
    justify-content: center;
}

header .contato img {
    margin-right: 8px;
}

.msg {
    background: beige;
    grid-area: msg; 
    display: flex;
    justify-self: center;
}

.msg > p {
    font-size: 16px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

main {
    background: #1d1d1f18;
    grid-area: m; 
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 80vh 80vh 80vh;
    grid-template-areas: "esquerda meio direita";
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

main .esquerda {
    grid-area: esquerda;
}

main .direita {
    grid-area: direita; 
}

main .meio {
    grid-area: meio; 

    background: url('https://www.artesolucoes.com.br/images/img-site/contato.png') no-repeat 95% 95%;

    display: flex;
    justify-content: center;
}

main .meio form {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue", sans-serif;
    font-size: 14px;
}

main .meio form input {
    margin: 5px;
    
    border: .1px solid black;

    background: #cccccc; 
    width:300px;
    height: 20px;
}

main .meio .comunicado input {
    height: 60px;
}  

main .meio form button {
    background-color: #45b33e;
    
    color: white;
    font-weight: bolder;

    border: none;
    width: 100%;;
    height: 40px;
}

footer {
    background: beige;
    grid-area: f;  

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer img {
    margin: 4px;
}

footer p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

footer p + div {
    margin-left: 15px;
}
